.container{
    color: rgb(255, 0, 191);
}
.container2{
    font-style: italic;
    color:rgb(216, 113, 17);
    /* font-size: 28px; */
}
li .itemDeco{
    text-decoration: line-through;

}
li .olItemColor{
    background-color: rgb(0, 255, 136);
}
ol li.itemItalic{
    font-style: italic;
    text-decoration: underline;
}
ul.listContainer{
    color: brown;
    letter-spacing:5px ;

}
ul li .ulColorItem{
    background-color: rgb(0, 255, 136);
    font-weight: bold;
}
p.paragraph{
    font-size: 18px;
        color: rgb(177, 58, 58);
}
p.paragraph2{
    color: rgb(211, 92, 92);
    font-size: 9px;
}

p.paragraph3{
    color: rgb(175, 27, 27);
     font-style: italic;
}
a{ 
    background-color: rgb(214, 204, 209);
    text-decoration: none;
    color: rgb(42, 165, 124);
} 
